.animeCard{    
    width: 425px;
    height: 710px;
    z-index: 2;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: currentColor;
    opacity: 0.1;
    border-radius: 5px;
}

.animeCard:hover .overlay{    
    visibility: visible;
    cursor: pointer;
}
.imageContainer{
    width: 425px;
    height: 600px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: fill; */
}
.animeInformationsContainer{
    padding: 6px 12px;
}
.title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 4px;
}
.genresContainer{
    display: flex;
}