.animeCard{    
    position: relative;
    display: flex;

    min-height: 210px;
    height: 90vh;
    max-height: 600px;

    min-width: 320px;
    max-width: 1200px;

    margin: 0 auto;

    margin-bottom: 20px;
}
.image{
    height: 100%;
    width: 425px;
}
.animeInformationsContainer{
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    padding: 10px 14px;
}

.title{
    padding-bottom: 6px;
}

.chipsContainer{
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 6px;
}

.chipsContainer::-webkit-scrollbar {
    display: none;
}

.ratingContainer{
    display: flex;
    padding-bottom: 6px;
}
.ratingContainer > p{
    margin-top: 2px;
    padding-left: 8px;
}


.seeMoreButton{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    border-radius: 0;
}

@media only screen and (max-width: 865px) { /* 865px */
    .animeCard{
        min-height: 210px;
        height: 70vw;
    }
}
@media only screen and (max-width: 565px) { /* 865px */
    .title{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media only screen and (max-width: 410px) { /* 865px */
    .ratingContainer{
        display: initial;
        text-align: center;
    }
    .ratingContainer > p{
        margin-top: 0;
        padding-left: 0;
        width: 120px;
    }
}