.sideBarContainer{
    z-index: 999;
    position: fixed;
    width: 240px;
}

.pageContainer{
    position: relative;
    margin-left: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarContainer{
    padding: 14px 0;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabsContainer{
    padding: 10px 0;
}
.tabs{
    margin: 0 6px;
    box-shadow: none;
}
.tabs:hover{
    box-shadow: none;
}
.contentContainer{
    padding: 5px 0;
}