.navbarContainer{
    padding: 14px 20px;
    padding-bottom: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
}

.tabsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabsContainer{
    padding: 10px 0;
}
.tabs{
    margin: 0 6px;
    box-shadow: none;
}
.tabs:hover{
    box-shadow: none;
}
.contentContainer{
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.foo{
    position: absolute;
    right: 0;
    margin-right: 20px;
}