.wrapper{
    position: absolute;
    width: 60vw;
    max-width: 650px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 120px;
    padding-top: 12px;
    z-index: 9999;
}
.searchBarContainer{
    position: relative;
    width: 100%;
}
.searchBar{
    display: flex;
    width: 100%;
    box-shadow: none;
    border: 1px solid rgba(0,0,0, 0.2);
}
.searchBar:focus-within{
    border: 1px solid #1c62b9;
}


.autoCompleteContainer{
    width: 100%;

    position: absolute;
    z-index: 999;
    border-radius: 18px;
}
.chipsContainer{
    white-space: normal;
    padding: 0;

    padding: 0px 10px;
    padding-bottom: 2px;
    padding-top: 10px;
}
.animeCardSearch{
    position: relative;
    display: flex;
    align-items: center;

    height: max-content;
    padding: 8px 14px;

    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: currentColor;
    opacity: 0.1;
    border-radius: 18px;
}

.animeCardSearch:hover .overlay{    
    visibility: visible;
    cursor: pointer;
}
.animeCardSearchImage{
    height: 85px;
    width: 60px;
    object-fit: cover;
    border-radius: 4px;
}
.animeCardSearchInformations{
    flex-grow: 1;
    padding: 0px 10px;
}
.animeCardSearchTitle{
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.animeCardGenresContainer p{
    display: inline-block;
}
.animeCardSearchRating{
    display: flex;
}
.animeCardSearchRating > p{
   margin-top: 3px;
   margin-left: 6px;
}
.searchMobile{
    display: none;
}
@media only screen and (max-width: 745px) {
    .wrapper{
        margin-left: 0;
        position: absolute;
        width: 100vw;
    }
    .searchMobile{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-left: 170px;
        margin-top: -4px;
    }
    .hideSearchBar{
        display: none;
    }
    .searchBar{
        width: 95%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 425px) {
    .searchMobile{
        left: auto;
        transform: none;
        margin-left: 0;
        right: 0;
        margin-right: 20px;
    }
}