.iconTab{
    margin-left: 15px;
}
.textTab{
    margin-left: 25px !important;
}

.sideBarDesktopContainer{
    display: flex;
    flex-direction: column;

    z-index: 999;

    height: 100vh;
    width: 100%;
    box-shadow: 3px 0px 23px -8px rgba(0,0,0,0.21);
    padding: 6px 12px;
}

.iconsContainer{
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: -8px;
}
.logo{
    height: 32px;
    margin-left: 18px;
}

.buttonsContainer{
    margin-top: 15px;
}
.buttonsMobileContainer{
    display: flex;
    justify-content: center;
    position: relative;
}
.tab{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 2px;
    position: relative;
}
.tabActive .tabOverlay{
    visibility: visible;
}
.tabOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: currentColor;
    opacity: 0.075;
    border-radius: 5px;
}
.tab:hover .tabOverlay{    
    visibility: visible;
    cursor: pointer;
}
.favoritesQuickViewContainer{
    margin-top: 10px;
    overflow-y: auto;

    width: 100%;
    margin-left: -12px;
    
    padding: 0 12px;
    padding-bottom: 10px;
}
.favoritedAnimeCard{
    display: flex;
    margin-top: 4px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.favoritedAnimeCard:hover{
    cursor: pointer;
}
.animeOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: currentColor;
    opacity: 0.1;
    border-radius: 8px;
    pointer-events: none;
}

.favoritedAnimeCard:hover .animeOverlay{    
    visibility: visible;
}
.favoritedAnimeCardImage{
    height: 80px;
    max-width: 58px;
    border-radius: 5px;
    object-fit: cover;
}
.favoritedAnimeCardTitle{
    line-height: 20px !important;
    margin-left: 6px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.favoritesQuickViewContainer::-webkit-scrollbar {
    width: 6px;
    overflow-y: overlay;
}
.favoritesQuickViewContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
.sideBarMobileContainer{
    display: none;
}

@media only screen and (max-width: 745px) {
    .buttonsContainer, .favoritesQuickViewContainer{
        display: none;
    }
    .sideBarDesktopContainer{
        height: auto;
        box-shadow: none;
        padding: 0;
    }
    .sideBarMobileContainer{
        display: block;
        width: 100%;
    }
    .iconTab{
        margin-left: 0;
    }
    .textTab{
        margin-left: 8px !important;
    }
    .tab{
        padding: 0;
        margin-right: 6px;
        width: 33%;
        white-space: nowrap;
        justify-content: center;
    }
    .tab:hover{
        cursor: pointer;
    }
    .tab:last-child{
        margin-right: 0;
    }
    .tabOverlay{
        visibility: visible;
        opacity: 0.1;
        z-index: -5;
    }
    .tabActive .tabOverlay{
        opacity: 0.9;
    }
    .iconsContainer{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
@media only screen and (max-width: 360px) {
    .iconTab{
        display: none !important;
    }
    .textTab{
        margin-left: 0 !important;
    }
}